.dropdown {
  position: relative;
}

.dropdownButton {
  display: flex;
  column-gap: 6px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.dropdownContent {
  min-width: 150px;
  padding: 10px;
  position: absolute;
  top: 35px;
  transition-duration: var(--transition-duration);
  border-bottom-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
  background-color: var(--color-white);
  z-index: 800;
  visibility: hidden;
  opacity: 0;
}

.dropdownContent.right {
  left: 0;
}

.dropdownContent.left {
  right: 0;
}

.dropdownContent.isOpen {
  visibility: visible;
  opacity: 100%;
}

@media (width > 1024px) {
  .dropdownButton.isMobile {
    display: none;
  }

  .dropdownContent.isMobile {
    position: static;
    visibility: visible;
    opacity: 100%;
  }
}
