.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.text {
  display: block;
}

@media (width < 420px) {
  .hidden {
    display: none;
  }
}
