.filters {
  position: sticky;
  top: 20px;
  padding: 24px;
}

@media (width <= 768px) {
  .filters {
    padding-top: 44px;
    padding-inline: 16px;
    padding-bottom: 16px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-self: flex-start;
}
