.accordeon {
  position: relative;
}

.accordeonButton {
  display: none;
}

.accordeonArrow {
  display: block;
  padding: 8px 4px;
  transform: rotate(0);
  transition-duration: var(--transition-duration);
}

.accordeonArrow.isOpen {
  transform: rotate(180deg);
}

.accordeonContent {
  display: block;
}

@media (width <= 768px) {
  .accordeonButton {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
    border: none;
    background-color: transparent;
  }

  .accordeonContent {
    visibility: hidden;
    min-width: 150px;
    padding: 10px;
    position: absolute;
    opacity: 0;
    top: 36px;
    left: 0;
    transition-duration: var(--transition-duration);
    border: var(--border);
    border-radius: var(--border-radius);
  }

  .accordeonContent.isOpen {
    visibility: visible;
    opacity: 100%;
  }
}
