.menuList {
  display: flex;
  column-gap: 12px;
  list-style-type: none;
  color: var(--color-black-900);
}

@media (width <= 1024px) {
  .menuList {
    flex-direction: column;
    row-gap: 8px;
  }
}
