.questionsAccordion {
  padding-top: 24px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  list-style-type: none;
}

.questionSkeleton {
  width: 100%;
  height: 56px;
  border-radius: var(--border-radius-xs);
}

@media (width < 768px) {
  .questionSkeleton {
    height: 44px;
  }
}
