.burgerButton {
  display: none;
}

@media (width <= 1100px) {
  .burgerButton {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--color-white);
    border: none;
  }

  .burgerButton .burgerButtonLine {
    position: absolute;
    content: '';
    width: 23px;
    height: 2px;
    background-color: var(--color-black-600);
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: var(--transition-duration) transform;
  }

  .burgerButtonLine:first-child {
    top: auto;
    bottom: 20px;
  }

  .burgerButtonLine:last-child {
    top: auto;
    bottom: 8px;
  }

  .burgerButtonLine:nth-child(2).isOpen {
    display: none;
  }

  .burgerButtonLine:first-child.isOpen {
    transform: translate(-11px, 5px) rotate(-45deg);
  }

  .burgerButtonLine:last-child.isOpen {
    transform: translate(-11px, -7px) rotate(45deg);
  }
}
