.container {
  display: flex;
  flex-direction: column;
}

.questions {
  padding: 24px 24px 40px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1px;
  padding-bottom: 17px;
  border-bottom: var(--border-gray-50);
}
