.questions {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 8px;
  padding-top: 1px;
  padding-bottom: 17px;
  border-bottom: var(--border-gray-50);
}
