.accordionItem {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-xs);
  width: 100%;
}

.title {
  position: relative;
  padding-block: 0;
  padding-right: 0;
  padding-left: 16px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-black-900);
  text-align: left;
}

.title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--color-purple-600);
  border-radius: 10px;
  transform: translateY(-50%);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 6px;
}

.bodyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: none;
  margin-left: auto;
}

@media (width < 768px) {
  .title::before {
    width: 5px;
    height: 5px;
    top: 10px;
  }

  .title {
    padding-left: 13px;
    font-size: 16px;
    line-height: 1.3;
  }

  .link {
    display: flex;
  }
}
