.headerDropdownButton {
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
}

.headerDropdownArrow {
  padding: 8px 4px;
}

@media (width <= 1024px) {
  .headerDropdownContent {
    visibility: hidden;
    min-width: 150px;
    padding: 10px;
    position: absolute;
    opacity: 0;
    top: 35px;
    left: -10px;
    transition-duration: var(--transition-duration);
    border-bottom-left-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
    background-color: var(--color-white);
  }

  .headerDropdownButton {
    display: flex;
  }

  .headerDropdownContent.isOpen {
    visibility: visible;
    opacity: 100%;
  }
}
