.loginMenuButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.wrapper {
  display: flex;
}

.link {
  padding: 12px 28px;
  width: 100%;
}

@media (width <= 768px) {
  .loginMenuButtons {
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    transform: translateX(100%);
    transition-duration: var(--transition-duration);
    z-index: 900;
  }

  .loginMenuButtons.isOpen {
    visibility: visible;
    transform: translateX(0);
  }

  .wrapper {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
}
