.accordionItem {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-xs);
  width: 100%;
}

.accordionItemButton {
  padding-inline: 24px;
  padding-block: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  border: none;
  transition: padding-block var(--transition-duration);
}

.accordionItemButton.isOpen {
  padding-block: 24px;
}

.accordionItemQuestion {
  position: relative;
  padding-block: 0;
  padding-right: 0;
  padding-left: 16px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-black-900);
  text-align: left;
}

.accordionItemQuestion::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: var(--color-purple-600);
  border-radius: 10px;
  transform: translateY(-50%);
}

.accordionItemArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 6px;
}

.accordionItemCollapse {
  height: 0;
  overflow: hidden;
  transition: height var(--transition-duration);
}

.accordionItemCollapse.isOpen {
  height: auto;
}

.accordionItemBody {
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.accordionItemProperties {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordionItemMetrics {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

@media (width < 1024px) {
  .accordionItemButton {
    padding-inline: 16px;
  }

  .accordionItemBody {
    padding: 0 16px 16px 16px;
    line-height: 1.3;
  }
}

@media (width < 768px) {
  .accordionItemButton {
    padding: 10px;
  }

  .accordionItemQuestion::before {
    width: 5px;
    height: 5px;
    top: 10px;
  }

  .accordionItemQuestion {
    padding-left: 13px;
    font-size: 16px;
    line-height: 1.3;
  }

  .accordionItemBody {
    padding: 0 10px 20px 10px;
  }
}
