.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.logoText {
  display: block;
}

@media (width < 420px) {
  .logoText {
    display: none;
  }
}
