.button {
  padding: 0;
  border: none;
  border-radius: var(--border-radius-xxs);
  background-color: transparent;
  color: var(--color-black-700);
  overflow: hidden;
  transition-duration: var(--transition-duration);
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  scale: 1.02;
}

.button:focus-visible {
  outline: 2px dashed var(--color-purple-700);
  outline-offset: 2px;
  transition-duration: 0s !important;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
