.card {
  padding-top: 24px;
  padding-inline: 24px;
  padding-bottom: 40px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-l);
}

.card.shadow {
  box-shadow: var(--box-shadow);
}

@media (width < 1024px) {
  .card {
    padding-top: 16px;
    padding-inline: 16px;
    padding-bottom: 40px;
  }
}

@media (width < 768px) {
  .card {
    padding-top: 20px;
    padding-inline: 10px;
    padding-bottom: 20px;
  }
}
