.header {
  width: 100%;
  background-color: var(--color-white);
  z-index: 900;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
}

@media (width <= 768px) {
  .header {
    position: fixed;
    border-bottom: var(--border-gray-50);
  }

  .headerContent {
    padding-block: 15px;
  }
}
