.metricCard {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  background-color: var(--color-black-10);
  padding: 8px 10px;
  border-radius: var(--border-radius-xs);
}

.metricCardTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.metricCardScore {
  padding: 2px 4px;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-white);
  background-color: var(--color-purple-700);
  border-radius: var(--border-radius-xxs);
}
