.fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
  border: none;
}

.legend {
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-black-700);
}

.checkbox {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.skeleton {
  width: 100%;
  height: 44px;
  border-radius: var(--border-radius-s);
}

.button {
  display: inline;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-decoration: underline;
  color: var(--color-purple-900);
  background-color: transparent;
}
