.copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--color-gray-200);
}

.copyrightLink {
  color: var(--color-gray-200);
}
