.loginMenuButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

@media (width < 1100px) {
  .loginMenuButtons {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-beige);
    transform: translateX(100vw);
    transition: var(--transition-duration) transform;
  }

  .loginMenuButtons.isOpen {
    transform: translateX(0);
  }
}
