.collapse {
  height: 0;
  overflow: hidden;
  transition: height var(--transition-duration);
}

.collapse.isOpen {
  height: auto;
}

.body {
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@media (width < 1024px) {
  .body {
    padding: 0 16px 16px 16px;
    line-height: 1.3;
  }
}

@media (width < 768px) {
  .body {
    padding: 0 10px 20px 10px;
  }
}
