.questionsSectionContainer {
  padding-top: 40px;
  padding-bottom: 130px;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  column-gap: 20px;
}

@media (width < 1024px) {
  .questionsSectionContainer {
    padding-top: 24px;
    padding-bottom: 80px;
  }
}

@media (width < 768px) {
  .questionsSectionContainer {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
