.title {
  font-weight: 500;
  line-height: 1.2;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 20px;
}

@media (width < 768px) {
  .h1 {
    font-size: 20px;
  }

  .h2 {
    font-size: 16px;
  }
}
