.header {
  background-color: var(--color-white);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
}

@media (width <= 768px) {
  .header {
    padding-block: 11px;
    border-bottom: var(--border-gray-50);
  }
}
