.burgerButton {
  display: none;
}

@media (width <= 768px) {
  .burgerButton {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    z-index: 1000;
  }

  .burgerButton .line {
    position: absolute;
    content: '';
    width: 23px;
    height: 2px;
    background-color: var(--color-black-600);
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: transform var(--transition-duration);
  }

  .line:first-child {
    top: auto;
    bottom: 22px;
  }

  .line:last-child {
    top: auto;
    bottom: 6px;
  }

  .line:nth-child(2).isOpen {
    display: none;
  }

  .line:first-child.isOpen {
    transform: translate(-11px, 7px) rotate(-45deg);
  }

  .line:last-child.isOpen {
    transform: translate(-11px, -9px) rotate(45deg);
  }
}
